.container{
  background-color: #333;
  width: 100%;
}

.menu ul{
  margin-left: 50%;
}

.menu a{
  color: wheat;
  margin-left: 40px;
}

.menu a:hover{
  color: antiquewhite;
  text-decoration: underline;
}


.logo{
  width: 100px;
  height: 100px;
  box-shadow: 4px 2px 5px rgb(12, 12, 12); 
  border-radius: 3px;
  margin-left: 100%;
}
