.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    background-color: grey;

}

.form{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    align-items: center;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.formItem label{
    margin-bottom: 10px;
    text-decoration: underline solid;
}

.input{
    width: 100%;
    height: 25px;
}

.inputArea{
    width: 100%;
    height: 100px;
    resize: vertical;
    overflow-y: auto;
    
}